.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__icon-menu{
        cursor: pointer;
        @include respond-to('medium'){
            display: none;
        }
    }
    &__button{
        @extend .buttonAction;
        width: min-content;
        padding: 1rem 1.5rem;
        a {
            text-decoration: none;
            color: $text-white;
        }
    }
    &__logo{
        display: none;
        @include respond-to('medium'){
            display: flex;
        }
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        img{
            aspect-ratio: 1/1;
            width: 5rem;
        }
        p{
            @include m-h-4();
            color: $text-white;
        }
    }
    &__list{
        max-width: 43rem;
        margin-left: auto;
        display: none;
        @include respond-to('medium'){
            display: flex;
        }
        flex-grow: 1;
        justify-content: space-around;
    }
    &__link{
        list-style: none;
        a{
            text-decoration: none;
            @include m-h-5();
            color: $text-white;
        }
    }
}
