.nuestros-beneficios{
    @include max-WIDTH();
    padding: $padding-general-x $padding-general-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    &__header{
        @extend .conoce-mas__header;
        @include respond-to('medium'){
            text-align: center
        }
    }
    &__title{
        @extend .conoce-mas__title;
    }
    &__subtitle{
        @extend .conoce-mas__subtitle;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include respond-to('medium'){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__card{
        width: 100%;
        max-width: 26rem;
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.2rem;
    }
    &__card-img{
        width: 50%;
        max-width: 12rem;
    }
    &__card-title{
        @include m-h-5();
        color: $text-black;
    }
    &__card-info{
        @include m-body-2();
        color: $text-gray;
    }
}